body { background-color: #FFB6C1; font-family: "Times New Roman", Times, serif; font-size: 20px; Margin: 5% 5%;}
. exp-header {
  Text-align: center 
  text-transform: uppercase
  font-size: 27px;
}
h4 {
  font-size: 20px;
  color: black;
  text-align: left;
}
h1 {
  font-size: 45px;
  font-family: "Lucida Handwriting", "Courier New", monospace;
  text-transform: uppercase;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  color: black;
  text-align: center;
  border: 4px solid #333; 
  padding:20px; }
h5 {
  background-color: #6a5acd; 
  color:  #FFFFFF; 
  padding: 5px; 
  text-align: left; 
  height:30px;
  width: 30%; }
